* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D2226;
    font-family: 'Manrope', sans-serif;
    color: #FDFDFD;
    min-height: 100vh;
}

/* Layout Cabeçalho */
.header {
    padding: 0 80px;
    background-color: #0F1C26;
    display: flex;
    justify-content: center;
}

.header .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.center .container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin: 0 45px 0 33px;
}

.header input {
    background-color: #171B1E;
    border: none;
    padding: 16px 13px;
    width: 100%;
    color: #FDFDFD;
    opacity: .8;
}

input::placeholder {
    color: #FDFDFD;
}

.header .icon-input {
  position: absolute;
  right: 16px;
}

.header a {
    text-decoration: none;
    color: #FDFDFD;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header li {
    display: flex;
    align-items: center;
    margin: 0 45px;
}

.header .user {
   margin-left: 45px;
   margin-right: 0;
}

.header li img {
    margin-right: 10px;
}

.header .user img {
    display: block;
    width: 52px;
    margin-left: 8px;
}

/* Layout conteudo principal */
.main {
    display: flex;
    align-items: flex-start;
    margin: 24px 24px 24px 100px;
}

.container-main {
    margin-right: 71px;
}

/* Layout banner promocional */
.banner-promotion {
    display: flex;
    color: #0F0915;
    font-family: 'Quantico', sans-serif;
    position: relative;
    width: 100%;
    margin-right: 71px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.banner-promotion:hover {
    cursor: pointer;
}

.banner-promotion .division {
    border-left: 1px solid #F294D8;
    opacity: 0.2;
    margin: 16px 24px;
}

.banner-promotion .container {
    display: flex;
    align-items: center;
}

.content-cupom, .content-time {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-time .time {
    width: 120px;
}

.banner-promotion img {
    margin-right: 10px;
}

.banner-promotion .icon-cupom {
    margin-left: -6px;
}

.banner-promotion .icon-time {
    width: 35px;
}

.banner-promotion h2 {
    font-size: 40px;
    font-weight: normal;
}

.banner-promotion h3 {
    font-size: 24px;
    font-weight: normal;
}

.banner-promotion .background {
    position: relative;
    min-height: 120px;
    width: 100%;
}

.banner-promotion .background-banner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner-promotion .money {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    margin-bottom: -14px;
}

.banner-promotion .adjust-content {
    display: flex;
    z-index: 1;
    padding: 16px 24px;
}

/* Layout da grade de filmes */
/* Layout da sessão Top Filmes */
.cards {
    display: flex;
    list-style-type: none;
    font-weight: bold;
    width: 100%;
}

.card {
    margin: 24px 24px 0 0;
    position: relative;
    width: 100%;
}

.top-films .card{
    margin-top: 16px;
}

.card:last-child {
    margin-right: 0;
}

.card .poster {
    display: block;
    opacity: 0.4;   
    width: 100%;
}

.card .icon-star {
    position: absolute;
    top: 12px;
    left: 9px;
    z-index: 1;
}

.card .star {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.card .name-film {
    flex-grow: 1;
}

.card .nota {
    margin-left: 6px;
    font-size: 12px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding: 4px 8px;
    font-size: 12px;
    background-color: #A785ED;
}

.card-footer:hover {
    cursor: pointer;
}

.card-footer div {
    display: block;
}

.card .texts {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Layout da sessão Filmes */
.content-films .title {
    font-size: 24px;
}

.films .title {
    margin-top: 40px;
}

.buttons-genres {
    display: flex;
    margin-top: 16px;
}

.buttons-genres button {
    width: 100%;
    margin-right: 24px;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #E5E5E5;
    color: #E5E5E5;
    opacity: .8;
    font-size: 16px;
    outline: none;
}

.buttons-genres .clicked {
    background: rgba(225, 131, 200, 0.2);
    border-color: #E183C8;
    color: #E183C8;
}

.buttons-genres button {
    cursor: pointer;
}

.films button:last-child {
    margin-right: 0;
}
/* Layout do carrinho */
.bag {
    background: rgba(0, 0, 0, 0.2);
    min-width: 312px;
    position: sticky;
    top: 24px;
}

.bag-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #A785ED, #A785ED), #C4C4C4;
    padding: 18px 0;
    margin-bottom: 32px;
}

.bag-header span{
    font-size: 24px;
    font-weight: bold;
}

.bag-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.bag-content img {
    width: 240px;
}

.bag-content h3 {
    margin-top: 0;
    margin-bottom: 6px;
}

.bag-content p {
    color: #FDFDFD;
    opacity: 0.8;
}

.bag-footer {
    padding: 0 16px;
}

.bag-footer span {
    font-size: 12px;
}

.bag-footer input {
    width: 100%;
    background-color: #0B1217;
    padding: 8px 16px;
    border: none;
    color: #FDFDFD;
}

.bag-footer input::placeholder {
    color: #FDFDFD;
    opacity: 0.4;
}

.container-bag-input {
    position: relative;
    margin-bottom: 24px;
}

.bag-footer img {
    position: absolute;
    right: 16px;
    top: 8px;
}

/* Layout conteudo adicionado ao carrinho */
.films-bag {
    list-style: none;
    width: 100%;
    margin-bottom: 24px;
}

.films-bag li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.films-bag .little-poster {
    width: 43px;
    height: 67px;
}

.films-bag-content {
    display: flex;
    align-items: center;
}

.films-bag-content .name-price span {
    display: flex;
    margin: 4px 13px;
}

.films-bag .content-add {
    display: flex;
    align-items: center;
}

.films-bag .content-add img {
    width: 24px;
    margin: 12px;
}

.films-bag .content-add img:hover {
    cursor: pointer;
}