* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D2226;
    font-family: 'Manrope', sans-serif;
    color: #FDFDFD;
    min-height: 100vh;
}

/* Layout Cabeçalho */
.header {
    padding: 0 80px;
    background-color: #0F1C26;
    display: flex;
    justify-content: center;
}

.header .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.center .container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin: 0 45px 0 33px;
}

.header input {
    background-color: #171B1E;
    border: none;
    padding: 16px 13px;
    width: 100%;
    color: #FDFDFD;
    opacity: .8;
}

input::placeholder {
    color: #FDFDFD;
}

.header .icon-input {
  position: absolute;
  right: 16px;
}

.header a {
    text-decoration: none;
    color: #FDFDFD;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header li {
    display: flex;
    align-items: center;
    margin: 0 45px;
}

.header .user {
   margin-left: 45px;
   margin-right: 0;
}

.header li img {
    margin-right: 10px;
}

.header .user img {
    display: block;
    width: 52px;
    margin-left: 8px;
}

/* Layout conteudo principal */
.main {
    display: flex;
    align-items: flex-start;
    margin: 24px 24px 24px 100px;
}

.container-main {
    margin-right: 71px;
}

















/* Form */
form .initial-information, .address, .payament-information {
    background-color: #171B1E;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    padding: 33px;
}

form .container {
    display: flex;
    flex-wrap: wrap;
}

form h2 {
    margin-bottom: 16px;
    font-size: 32px;
}

form label {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 16px 0;
}

form label:last-child {
    margin-bottom: 0;
}

form span {
    font-size: 12px;
}

form input {
    margin-right: 24px;
    padding: 8px 16px;
    border: none;
    background-color: #0B1217;
    color: #FDFDFD;
}

form label:nth-child(2n) input{
    margin-right: 0;
}

form input::placeholder {
    color: #FDFDFD;
    opacity: 0.4;
}

form .container input:nth-child() {
    background-color: red;
}

form .inital-information {
    margin-top: 0;
}

form .card-name {
    text-transform: uppercase;
}

.initial-page button:hover {
    cursor: pointer;
}


























/* Layout do carrinho */
.bag {
    background: rgba(0, 0, 0, 0.2);
    min-width: 312px;
    position: sticky;
    top: 24px;
}

.bag-container {
    padding: 0 16px 24px;
}

.bag-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    margin-bottom: 32px;
}

.bag-header span{
    font-size: 24px;
    font-weight: bold;
}

.bag-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bag-content img {
    width: 240px;
}

.bag-content h3 {
    margin-top: 0;
    margin-bottom: 6px;
}

.bag-content p {
    color: #FDFDFD;
    opacity: 0.8;
}

.bag-footer span {
    font-size: 12px;
}

.bag-footer input {
    width: 100%;
    background-color: #0B1217;
    padding: 8px 16px;
    border: none;
    color: #FDFDFD;
}

.bag-footer input::placeholder {
    color: #FDFDFD;
    opacity: 0.4;
}

.container-bag-input {
    position: relative;
}

.bag-footer img {
    position: absolute;
    right: 16px;
    top: 8px;
}

/* Layout conteudo adicionado ao carrinho */
.films-bag {
    list-style: none;
    width: 100%;
    margin-bottom: 24px;
}

.films-bag li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.films-bag .little-poster {
    width: 43px;
    height: 67px;
}

.films-bag-content {
    display: flex;
    align-items: center;
}

.films-bag-content .name-price span {
    display: flex;
    margin: 4px 13px;
}

.films-bag .content-add {
    display: flex;
    align-items: center;
}

.films-bag .content-add img {
    width: 24px;
    margin: 12px;
}

.films-bag .content-add img:hover {
    cursor: pointer;
}

.bag .subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

/* Layout botão de confirmar pedido do carrinho */
.bag .initial-page {
    text-align: center;
}

.bag .initial-page button {
    background-color: #E25EBF;
    font-weight: bold;
    margin-top: 24px;
    padding: 16px;
    color: #FDFDFD;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    width: 100%;
}

.payment-button {
    display: flex;
    justify-content: space-between;
    background-color: #E25EBF;
    font-weight: bold;
    margin-top: 24px;
    padding: 16px;
}

.payment-button:hover {
    cursor: pointer;
}